# Assignment Questions
1. print numbers from 1 to 5 using a while loop.
2. Calculate the sum of numbers from 1 to 10 using a while loop
3. Calculate the factorial of a number using a for loop.
4. Count the number of vowels in a string using a for loop
5. Print a pattern using nested loops.
6. Generate a multiplication table using nested loops.

## 1. print numbers from 1 to 5 using a while loop.

In [1]:
x = 1
while x <= 5:
  print(" number ", x)
  x += 1

 number  1
 number  2
 number  3
 number  4
 number  5

## 2. Calculate the sum of numbers from 1 to 10 using a while loop

In [2]:
x = 1
y = 0
while x <= 10:
  y = y+ x
  x += 1

print("sum of number from 1 to 10 is ",y)

sum of number from 1 to 10 is  55

## 3. Calculate the factorial of a number using a for loop.

In [4]:
my_num = int(input("Enter a number : "))
product = 1
for i in range(my_num):
  product *= (i+1)
print("The factorial of ",my_num, " is ",product)

Enter a number : 5
The factorial of  5  is  120

## 4. Count the number of vowels in a string using a for loop

In [5]:
my_str = input('Enter a string  : ')
vow = {'a','i','e','o','u','A','I','E','O','U'}
count = 0
for i in my_str:
  if i in vow:
    count += 1

print(" The number of Vowels in ", my_str, " is ", count)

Enter a string  : Samsung
 The number of Vowels in  Samsung  is  2

## 5.Print a pattern using nested loops.

In [6]:
x = 6 # number of rows in patter
for i in range(x):
  for j in range(i+1):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

## 6.Generate a multiplication table using nested loops.

In [7]:
# Outer loop for rows (1 to 10)
for i in range(1, 11):
    # Inner loop for columns (1 to 10)
    for j in range(1, 11):
        # Print the product of i and j with proper formatting
        print(f"{i * j:5}", end="    ")  # Adjust the width as needed
    print()  # Move to the next line

    1        2        3        4        5        6        7        8        9       10
    2        4        6        8       10       12       14       16       18       20
    3        6        9       12       15       18       21       24       27       30
    4        8       12       16       20       24       28       32       36       40
    5       10       15       20       25       30       35       40       45       50
    6       12       18       24       30       36       42       48       54       60
    7       14       21       28       35       42       49       56       63       70
    8       16       24       32       40       48       56       64       72       80
    9       18       27       36       45       54       63       72       81       90
   10       20       30       40       50       60       70       80       90      100