# Python Type Conversion

1. Convert an integer to a floating-point number.
2. Convert a float to an integer.
3. Convert an integer to a string.
4. Convert a list to a tuple.
5. Convert a tuple to a list.
6. Convert a decimal number to binary.
7. Convert a non-zero number to boolean.

## Convert an integer to a floating-point number.

In [17]:
my_int = 234 # assigning an integer

type(my_int)

int

In [18]:
my_int = float(my_int)    # converting integer to float
type(my_int)

float

In [19]:
my_int

234.0

## Convert an integer to a floating-point number.

In [20]:
my_float = 23.45 # assigning a float
type(my_float)

float

In [21]:
my_float = int(my_float) #converting integer to float
my_float

23

In [22]:
type(my_float)

int

# Convert an integer to a string.

In [23]:
my_int2 = 345   #assigning an integer
type(my_int2)

int

In [24]:
my_int2 = str(my_int2)  # converting integer to string
type(my_int2)

str

# Convert a list to a tuple.

In [25]:
my_list = [23,34,53,65,23,56] # assigning a list
my_list

[23, 34, 53, 65, 23, 56]

In [26]:
type(my_list)

list

In [27]:
my_list = tuple(my_list) #converting list to tuple

In [28]:
type(my_list)

tuple

# Convert a tuple to a list.

In [29]:
my_tuple = (23,34,53,12,56,634,342,32,12)   # assigning a tuple
my_tuple

(23, 34, 53, 12, 56, 634, 342, 32, 12)

In [30]:
type(my_tuple)

tuple

In [31]:
my_tuple = list(my_tuple)   #converting the tuple to a list

In [32]:
my_tuple

[23, 34, 53, 12, 56, 634, 342, 32, 12]

In [33]:
type(my_tuple)   #checking the result

list

# Convert a decimal number to binary.

In [34]:
my_num = 56  # assigning a decimal number

In [35]:
my_num

56

In [36]:
my_num =bin(my_num)   # converting the decimal number

In [37]:
my_num

'0b111000'

# Convert a non-zero number to boolean.

In [38]:
my_non_zerc_num = 65  # assigning a non zero number

In [39]:
my_non_zerc_num

65

In [40]:
my_non_zerc_num  = bool(my_non_zerc_num )   #converting the non zero number to boolean

In [41]:
my_non_zerc_num

True